/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
label,
header,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Arial;
}

/* HTML5 display-role reset for older browsers */
header,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

body {
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.games-panel-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-games-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-games-panel-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-home-container,
.team-away-container {
	display: flex;
	align-items: center;
}

.team-home-container {
	flex-direction: row;
}

.team-away-container {
	flex-direction: row-reverse;
}
