/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
label,
header,
button,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family: Arial;
}

/* HTML5 display-role reset for older browsers */
header,
nav,
section {
	display: block;
}

body {
	height: 100vh;

	display: flex;
	flex-direction: column;

	line-height: 1;
}

header {
	background-color: #33b667;
	color: white;

	padding: 1.5em 0;

	display: flex;
	align-items: center;
	justify-content: center;

	text-align: center;
}

main {
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	text-align: center;

	gap: 4em;
}

.games-panel {
	border-radius: 10px;
	border: 1px solid #ddd;

	padding: 1.4em;

	width: 100%;
	max-width: 340px;
	max-height: 100%;
}

.header-games-panel {
	margin-bottom: 3em;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-games-panel {
	width: 30px;
	height: 30px;

	cursor: pointer;
}

#left-button.disabled img,
#right-button.disabled img {
	filter: grayscale(100%);
}

.button-games-panel:hover {
	transform: scale(1.1);
	transition: transform 0.2s ease;
}

.header-games-panel-content h4 {
	font-weight: normal;
}

.header-games-panel-content h5 {
	text-transform: uppercase;
}

#games-panel-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header-games-panel-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.game-container {
	display: flex;
	width: 100%;
}

.team-home-container,
.team-away-container {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.team-home-container {
	flex-direction: row;
	margin-right: 1em;
}

.team-away-container {
	flex-direction: row-reverse;
	margin-left: 1em;
}

.divider-solid {
	border-top: 1px solid #ddd;

	width: 100%;
	margin: 1em 0;
}
